body{
	background-color: #3d3d3d;
}

#div1{
	background-color: black;
	width: 100%;
	height: 80px;
	position: fixed;
}

#p1{
	color: white;
	font-size: 60px;
	padding-left: 4%;
}

#p2{
	margin-top: -55px;
}

#p2 a{
	color: white;
	font-size: 20px;
	margin-left: 90%;
	margin-top: -100px;
}

#div2{
	padding-top:100px;
	padding-left: 300px;
}
#t1 td{
	padding: 30px 100px 30px 100px;
	
}

#div3, #div4, #div5, #div6{
	background-color: #848484;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	color: white;
	font-size: 18px;
	text-align: center;
}
#div2 a:hover #div3, #div2 a:hover #div4, #div2 a:hover #div5, #div2 a:hover #div6{
	display: block;
	box-shadow: 1px 1px 2px black, 0 0 25px white;
	border-radius: 0px;
}
#div2 a:hover{
	text-decoration: none;
}
img{
	width:150px;
	height: 150px;
	padding-top: 5%;
}
#div7{
	padding-top: 100px;
	padding-left: 530px
}
#div7 select{
	width: 300px;
	height: 30px;
	background-color: #848484;
	color: white;
	border-radius: 20px;
	text-align-last: center;
}
#div7 option{
	background-color: white;
	color: black;
}
#div7 option:hover{
	color: black;;
}
#div8 img{
	width: 200px;
	height: 230px;
}
#div8{
	padding-left: 43px;
}
#t2 button{
	background-color: #848484;
	color: white;
	border-radius: 20px;
	text-align: center;
	width: 110px;
	height: 40px;
}
#t2 td{
	padding: 40px 40px 0px 40px;
}
#div9{
	margin-left: -47px;
}
#t2 button:hover{
	box-shadow: 1px 1px 2px black, 0 0 25px white;
}
#div10{
	opacity: 0;
	color: white;
	padding-left: 595px;
	padding-top: 30px;
	font-size: 20px;
	text-shadow: 1px 1px 2px black, 0 0 25px white;
}
span{
	color: white;
	font-size: 30px;
	margin-left: 10px;
	padding-top: 30px;
}
#div12 input{
	color: white;
	font-size: 20px;
	width: 110px;
	height: 40px;
	background-color: #848484;
	text-align: center;
	border-radius: 20px;
}